#menu-search-bar {
	border-bottom: 1px solid #c3bfbf;

}

#mobile-buttons {
	margin-bottom: 0.75rem;
	
	.fa.mobile-icon {
		font-size: 2rem;
	}
	
	.mobile-button {
		width: 75px;
	}
	
	#menu-button {
		float: left;
	}
	
	#search-button {
		float: right;
	}

}


#search {
	display: none;
	opacity: 0;
}

#menu {
		
	.menu {
		display: none;
	}
	
	ul {
		display: flex;
		text-align: center;
		flex-direction: column;
		font-size: 1.3rem;
		
		li {
			padding: 10px;
		}
		
		ul {
			display: none;
		}
	}
	
	ul.active-menu {
		display: flex;
	}
}

@media only screen and
(min-width: 750px) {
	
	#mobile-buttons {
		display: none;
	}
	
	#search {
		display: inherit;
		opacity: 1.0;
	}
	
	#menu {
		
		.menu {
			display: inherit;
		}
		
		#menu-icon {
			display: none;
		}
		
		ul {
		justify-content: center;
		flex-direction: row;
		font-size: 1rem;
		
			li {
				padding: 10px;
				
				&:after {
					content: "|";
					margin-left: 15px;
				}
				
				&:hover {
					
					ul {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						text-align: left;
						
						ul {
							display: none;
						}						
					}
				}
			}
			
			li:last-child {
				
				&:after {
					content: "";
					margin: 0;
				}
			}
			
			ul {
				display: none;
				position: absolute;
				width: 200px;
				background-color: white;
				border: 1px solid $main-text-color;
				border-top: none;
				margin-left: -22px;
				padding-top: 9px;
				
				li {
					&:after {
						content: "";
						margin: 0;
					}
				}
			}
		}
	}
}
