$body-font: "Crimson Text", serif;
$header-font: "Playfair Display SC", serif;
$main-text-color: #514f4f;
$header-text-color: black;
$a-tags: 'a, a:active, a:visited';
$a-tags-hover: 'a:hover, a:active';
$link-color: #e0940f;
$link-hover-color: #a874ff;